<div class="panel panel-default" ng>
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">List of working stuff</span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID.</th>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Role</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in ctrl.users">
                <td><span ng-bind="u.id"></span></td>
                <td><span ng-bind="u.fullName"></span></td>
                <td><span ng-bind="u.email"></span></td>
                <td><span ng-bind="u.state"></span></td>
                <td><span ng-bind="u.profile.type"></span></td>
                <td>
                    <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>