<div>
    <h1>what's up ${userMail}</h1>
    <div><a ui-sref="analytic.sport">list sports</a></div>
    <div ui-view  ></div>
    <!-- <div ng-controller="SportController as sportCtrl">
         <uib-accordion close-others="oneAtATime" ng-repeat="sport in sportCtrl.sports">
             <uib-accordion-group is-open="status.open" >
                 <uib-accordion-heading>
                     <span ng-bind="sport.id"></span>
                     <span ng-bind="sport.sportName">
                     </span><span ng-bind="sport.analiticNetwork.neuralNetworkPath"></span>
                     <i class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                 </uib-accordion-heading>
                     <uib-accordion close-others="oneAtATime" ng-repeat="tournament in sport.tournaments">
                         <uib-accordion-group is-open="status.open" >
                         <uib-accordion-heading>
                             <span ng-bind="tournament.id"></span>
                             <span ng-bind="tournament.tournamentName"></span>
                             <span ng-bind="tournament.dateTime.year"></span>
                             <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                         </uib-accordion-heading>
                         </uib-accordion-group>
                     </uib-accordion>
             </uib-accordion-group>
         </uib-accordion>
         </uib-accordion-group>
         </uib-accordion>
     </div>-->
</div>