<div>
    <h2>CurrentEvent</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID.</th>
            <th>HomeT</th>
            <th>resultHT</th>
            <th>resultGT</th>
            <th>GuestT</th>
            <th>DateTime</th>
            <th width="20%"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tr>
            <td><span ng-bind="sportECtrl.sportEvents.id"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.homeTeam.team.teamName"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.resultSet.homeTeamPoints"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.resultSet.guestTeamPoints"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.guestTeam.team.teamName"></span></td>
            <td>
                {{sportECtrl.sportEvents.dateTime.dayOfMonth}}/{{sportECtrl.sportEvents.dateTime.monthOfYear}}/{{sportECtrl.sportEvents.dateTime.year}}
            </td>
            <td>
                <button type="button" ng-click="sportECtrl.calculateCoefficients(sportECtrl.sportEvents.id)"
                        class="btn btn-success custom-width">Calculate
                </button>
            </td>
        </tr>
    </table>
    <table class="table table-hover">
        <tbody>
        <tr>
            <td><span ng-bind="sportECtrl.sportEvents.coefficients[0].betMark.type"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.coefficients[1].betMark.type"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.coefficients[2].betMark.type"></span></td>
        </tr>
        <tr>
            <td><span ng-bind="sportECtrl.sportEvents.coefficients[0].coefficient"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.coefficients[1].coefficient"></span></td>
            <td><span ng-bind="sportECtrl.sportEvents.coefficients[2].coefficient"></span></td>
        </tr>
        </tbody>
    </table>
    <h2>ParametersToNeuralNetwork</h2>
    <div data-ng-init="sportECtrl.calculateParams(sportECtrl.sportEvents.id)">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>HTAttackRating</th>
                <th>HTDefenceRating</th>
                <th>HTTournamentRating</th>
                <th>HTFieldRating</th>
                <th>GTAttackRating</th>
                <th>GTDefenceRating</th>
                <th>GTTournamentRating</th>
                <th>GTFieldRating</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span ng-bind="sportECtrl.parameters[0]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[1]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[2]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[3]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[4]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[5]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[6]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[7]"></span></td>
                <td><span ng-bind="sportECtrl.parameters[8]"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>PastEventsHT</h2>
    <div ng-init="sportECtrl.fetchPastEventsHT(sportECtrl.sportEvents.id)">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID.</th>
                <th>HomeT</th>
                <th>resultHT</th>
                <th>resultGT</th>
                <th>GuestT</th>
                <th>DateTime</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sportE in sportECtrl.pastEventsHT">
                <td><span ng-bind="sportE.homeTeam.team.teamName"></span></td>
                <td><span ng-bind="sportE.resultSet.homeTeamPoints"></span></td>
                <td><span ng-bind="sportE.resultSet.guestTeamPoints"></span></td>
                <td><span ng-bind="sportE.guestTeam.team.teamName"></span></td>
                <td>{{sportE.dateTime.dayOfMonth}}/{{sportE.dateTime.monthOfYear}}/{{sportE.dateTime.year}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>PastEventsGT</h2>
    <div ng-init="sportECtrl.fetchPastEventsGT(sportECtrl.sportEvents.id)">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID.</th>
                <th>HomeT</th>
                <th>resultHT</th>
                <th>resultGT</th>
                <th>GuestT</th>
                <th>DateTime</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sportE in sportECtrl.pastEventsGT">
                <td><span ng-bind="sportE.homeTeam.team.teamName"></span></td>
                <td><span ng-bind="sportE.resultSet.homeTeamPoints"></span></td>
                <td><span ng-bind="sportE.resultSet.guestTeamPoints"></span></td>
                <td><span ng-bind="sportE.guestTeam.team.teamName"></span></td>
                <td>{{sportE.dateTime.dayOfMonth}}/{{sportE.dateTime.monthOfYear}}/{{sportE.dateTime.year}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>