<div class="login-container">
    <div class="login-card">
        <div class="login-form">
            <form action="/login" method="post" class="form-horizontal">
                <div class="input-group input-sm">
                    <label class="input-group-addon" for="email"><i class="fa fa-user"></i></label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter E-mail" required>
                </div>
                <div class="input-group input-sm">
                    <label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="form-actions">
                    <input type="submit"
                           class="btn btn-block btn-primary btn-default" value="Log in">
                </div>
            </form>
        </div>
    </div>
</div>
</div>