<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">User Registration Form </span></div>
    <div class="formcontainer">
        <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
            <input type="hidden" ng-model="ctrl.user.id"/>
            <input type="hidden" ng-model="ctrl.user.state"/>
            <input type="hidden" ng-model="ctrl.user.profile"/>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="ctrl.user.fullName" name="fullName"
                               class="username form-control input-sm" placeholder="Enter your name" required
                               ng-minlength="3"/>
                        <div class="has-error" ng-show="tournamentForm.$dirty">
                            <span ng-show="tournamentForm.fullName.$error.required">This is a required field</span>
                            <span ng-show="tournamentForm.fullName.$error.minlength">Minimum length required is 3</span>
                            <span ng-show="tournamentForm.fullName.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Email</label>
                    <div class="col-md-7">
                        <input type="email" ng-model="ctrl.user.email" name="email" class="email form-control input-sm"
                               placeholder="Enter your Email" required/>
                        <div class="has-error" ng-show="tournamentForm.$dirty">
                            <span ng-show="tournamentForm.email.$error.required">This is a required field</span>
                            <span ng-show="tournamentForm.email.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Password</label>
                    <div class="col-md-7">
                        <input type="password" ng-model="ctrl.user.password" name="password"
                               class="password form-control input-sm" placeholder="Enter your password" required/>
                        <div class="has-error" ng-show="tournamentForm.$dirty">
                            <span ng-show="tournamentForm.password.$error.required">This is a required field</span>
                            <span ng-show="tournamentForm.password.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm"
                           ng-disabled="tournamentForm.$invalid">
                    <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                            ng-disabled="tournamentForm.$pristine">Reset Form
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>