<div class="row">
    <div class="panel-heading"><span class="lead">create/edit Form </span></div>
    <div class="col-lg-6">
        <form ng-submit="sportCtrl.submit()" name="sportForm" class="form-horizontal">
            <input type="hidden" ng-model="sportCtrl.sport.id"/>
            <input type="hidden" ng-model="sportCtrl.sport.analyticNetwork"/>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="sportCtrl.sport.sportName" name="sportName"
                               class="username form-control input-sm" placeholder="Sport name" required
                               ng-minlength="3"/>
                        <div class="has-error" ng-show="sportForm.$dirty">
                            <span ng-show="sportForm.sportName.$error.required">This is a required field</span>
                            <span ng-show="sportForm.sportName.$error.minlength">Minimum length required is 3</span>
                            <span ng-show="sportForm.sportName.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{!sportCtrl.sport.id ? 'Add' : 'Update'}}"
                           class="btn btn-primary btn-sm"
                           ng-disabled="sportForm.$invalid">
                    <button type="button" ng-click="sportCtrl.reset()" class="btn btn-warning btn-sm"
                            ng-disabled="sportForm.$pristine">Reset Form
                    </button>
                </div>
            </div>
        </form>
        <h2>Sports</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID.</th>
                <th>Name</th>
                <th width="20%"></th>
                <th width="20%"></th>
                <th width="20%"></th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sport in sportCtrl.sports">
                <td><span ng-bind="sport.id"></span></td>
                <td><span ng-bind="sport.sportName"></span></td>
                <td>
                    <button type="button" ng-click="sportCtrl.edit(sport.id)" class="btn btn-success custom-width">
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button" ui-sref="analytic.tournament({sportId:sport.id})"
                            class="btn btn-success custom-width">Tournaments in sport
                    </button>
                </td>
                <td>
                    <button type="button" ui-sref="analytic.sport.sportEvent({sportId:sport.id})"
                            class="btn btn-success custom-width">SportEvents
                    </button>
                </td>
                <td>
                    <button type="button"class="btn btn-success custom-width">CreateNeuralNetwork</button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div ui-view class="col-lg-6"></div>
</div>