<div>
    <h2>SportEvents</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID.</th>
            <th>HomeT</th>
            <th>resultHT</th>
            <th>resultGT</th>
            <th>GuestT</th>
            <th>DateTime</th>
            <th width="20%"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tr ng-repeat="sportE in filteredEvents">
            <td><button type="button" ui-sref="analytic.sport.sportEvent.details({sportEId:sportE.id})" class="btn btn-success custom-width">Details</button></td>
            <td><span ng-bind="sportE.homeTeam.team.teamName"></span></td>
            <td><span ng-bind="sportE.resultSet.homeTeamPoints"></span></td>
            <td><span ng-bind="sportE.resultSet.guestTeamPoints"></span></td>
            <td><span ng-bind="sportE.guestTeam.team.teamName"></span></td>
            <td>{{sportE.dateTime.dayOfMonth}}/{{sportE.dateTime.monthOfYear}}/{{sportE.dateTime.year}}</td>
        </tr>
    </table>
    <pagination
            ng-model="currentPage"
            total-items="sportECtrl.totalItems"
            max-size="sportECtrl.maxSize"
            boundary-links="true">
    </pagination>
    <div ui-view></div>

</div>