<div class="row">
    <div class="col-lg-6">
<div class="panel-heading"><span class="lead">create/edit Form </span></div>
    <div class="formcontainer">
        <form ng-submit="teamCtrl.submit()" name="teamForm" class="form-horizontal">
            <input type="hidden" ng-model = "teamCtrl.teamT.id"/>
            <input type="hidden" ng-model = "teamCtrl.teamT.tournament"/>
            <input type="hidden" ng-model = "teamCtrl.teamT.sumPointsInTournament"/>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="teamCtrl.teamT.team.teamName" name="teamName"
                               class="username form-control input-sm" placeholder="Team name" required
                               ng-minlength="3"/>
                        <div class="has-error" ng-show="teamForm.$dirty">
                            <span ng-show="teamForm.teamName.$error.required">This is a required field</span>
                            <span ng-show="teamForm.teamName.$error.minlength">Minimum length required is 3</span>
                            <span ng-show="teamForm.teamName.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{!teamCtrl.teamT.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm"
                           ng-disabled="teamForm.$invalid">
                    <button type="button" ng-click="teamCtrl.reset()" class="btn btn-warning btn-sm"
                            ng-disabled="teamForm.$pristine">Reset Form
                    </button>
                </div>
            </div>
        </form>
        <h2>Teams</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID.</th>
                <th>Name</th>
                <th>SumPoints</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teamT in filteredTeams">
                <td><span ng-bind="teamT.id"></span></td>
                <td><span ng-bind="teamT.team.teamName"></span></td>
                <td><span ng-bind="teamT.sumPointsInTournament"></span></td>
                <td>
                    <button type="button" ng-click="teamCtrl.edit(team.id)" class="btn btn-success custom-width">Edit</button>
                    <button type="button" ui-sref="analytic.team.sportEvent({teamId:teamT.id})" class="btn btn-success custom-width">SportEvent</button>

                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                ng-model="currentPage"
                total-items="teamCtrl.totalItems"
                max-size="teamCtrl.maxSize"
                boundary-links="true">
        </pagination>
    </div>
    </div>
    <div ui-view class="col-lg-6"></div>

</div>