<div class="row">
    <div class="col-lg-6">
    <div class="panel-heading"><span class="lead">create/edit Form </span></div>
    <div class="formcontainer">
        <form ng-submit="tournCtrl.submit()" name="tournamentForm" class="form-horizontal">
            <input type="hidden" ng-model = "tournCtrl.tournament.id"/>
            <input type="hidden" ng-model = "tournCtrl.tournament.tour"/>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="tournCtrl.tournament.tournamentName" name="tourName"
                               class="username form-control input-sm" placeholder="tour name" required
                               ng-minlength="3"/>
                        <div class="has-error" ng-show="tournamentForm.$dirty">
                            <span ng-show="tournamentForm.tournamentName.$error.required">This is a required field</span>
                            <span ng-show="tournamentForm.tournamentName.$error.minlength">Minimum length required is 3</span>
                            <span ng-show="tournamentForm.tournamentName.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{!tournCtrl.tournament.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm"
                           ng-disabled="tournamentForm.$invalid">
                    <button type="button" ng-click="tournCtrl.reset()" class="btn btn-warning btn-sm"
                            ng-disabled="tournamentForm.$pristine">Reset Form
                    </button>
                </div>
            </div>
        </form>
    </div>
        <h2>Tournaments</h2>
        <table class="table table-hover">
        <thead>
        <tr>
            <th>ID.</th>
            <th>Name</th>
            <th>Year</th>
            <th width="20%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tournament in tournCtrl.tournaments">
            <td><span ng-bind="tournament.id"></span></td>
            <td><span ng-bind="tournament.tournamentName"></span></td>
            <td><span ng-bind="tournament.dateTime.year"></span></td>
            <td>
                <button type="button" ng-click="ctrl.edit(tournament.id)" class="btn btn-success custom-width">Edit
                </button>
                <button type="button" ui-sref="analytic.team({tournamentId:tournament.id})" class="btn btn-success custom-width">Teams</button>
                <button type="button" ui-sref="analytic.tournament.sportEvent({tournamentId:tournament.id})" class="btn btn-success custom-width">SportEvent</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div ui-view class="col-lg-6"></div>
</div>